[2017-09-28 12:11] AnupKumarPanwar opened #14 "Add more algorithms"
Please add more algorithms to this repo.

See the structure and README of this repo for reference
https://github.com/TheAlgorithms/Python

[2017-09-29 06:44] ms10398 opened #17 "Integrate Travis CI to maintain code quality"
Yes I will work on it and make a PR soon

[2017-09-29 07:34] #17 closed

[2017-09-29 08:35] ms10398 commented on #17
@AnupKumarPanwar why did you close the issue

[2017-09-30 02:39] meetzaveri commented on #14
#18

[2018-03-17 19:27] kulshreshtha19 commented on #14
[bubblesort.js.txt](https://github.com/TheAlgorithms/Javascript/files/1821995/bubblesort.js.txt)
Uploading bubblesort algorithm in javascript. kindly merge it.
Thank you

[2018-10-16 13:50] ParthS007 opened #62 "Missing variable declaration in Flash Sort"
There is a missing declaration for variables in Flash sort.

I am working on it.

[2018-10-16 19:43] #62 closed

[2019-01-03 14:52] duongtq opened #81 "An improvement on Ficbonacci function using DP"
// My code just improves a little
// Feel free to ask me questions

function dp_ficbo(n)
	{
		var val = [];
		for ( let i = 0; i <= n; i++)
		{
			val[i] = 0;
		}

		if ( n == 1 || n == 2)
		{
			return 1;
		}
		else
		{
			val[1] = 1;
			val[2] = 2;

			for ( let i = 3; i <= n; i++ )
			{
				val[i] = val[i - 1] + val[i - 2];
			}
		}

		return val[n - 1];
	}

console.log(dp_ficbo(20));

[2019-01-03 15:05] ms10398 commented on #81
If you feel you can make a better implementation feel free to make a PR

[2019-01-03 15:36] duongtq commented on #81
I do not understand what PR means. If it is a sarcasm feel free not to reply.

[2019-01-03 15:41] ms10398 commented on #81
No it is not sarcasm

Sorry if you misunderstood

PR means Pull Request which means updating the code of the repo with the better approach so that I can merge it in the repository.

I have given to link for you to check just in case if you are new to GitHub

https://help.github.com/articles/about-pull-requests/

[2019-01-03 15:44] duongtq commented on #81
Thank you for your explanation.
I will use pull request to share the code.

[2019-02-17 18:34] christianbender commented on #81
@duongtq This lines are needless
[code]
Because you used dynamic arrays in javascript.

[2019-02-17 18:37] christianbender commented on #81
@duongtq
[code]
Begin with index ```0```. Change your for-loop according to index 0

[2019-05-02 10:40] ntedgi commented on #14
#84

[2019-05-02 23:29] raviolliii commented on #14
#83 Added SHA-1 and SHA-256 Hashing algorithms

[2019-05-08 08:36] co16353sidak opened #85 "Split READMEs for each folder."
instead of keeping one solitary readme I the root folder, it would be better to add separate README to each folder.
what this would achieve would be that for someone interested in ciphers should open the folder and find details in the README specific to ciphers only.
This seems like an easy process of splitting the README into separate duplicates and then adding them to individual folders, I would

[2019-09-08 18:25] lakshyabatman opened #92 "Kadane Algorithm should be added"
**Algorithm to find largest sum contiguous subarray.**
I am assigning this to myself.

[2019-09-14 18:28] lakshyabatman commented on #92
Solved #93 ! :D

[2019-09-14 18:28] #92 closed

[2019-10-05 10:04] alterstep opened #99 "Typescript version?"
These algorithm implementations are very helpful. But they could be shorter and easier to understand with Typescript, using Typescript features. Many people use Typescript instead of directly Javascript now. How about converting these algorithms to Typescript?

[2019-10-06 04:30] archanaserver commented on #81
I would like to work on this by providing the solution of the Fibonacci sequence from the Brute Force Approach to the Top-Down and Bottom-Up Dynamic Approach.

[2019-12-11 11:01] shrmaky opened #115 "issue: complexity graph png url not working on line-90 readme"
Following is the url - https://github.com/prateekiiest/Javascript/blob/master/sorts/sortinggraphs.png
(May be this is private)

[2019-12-11 11:35] shrmaky opened #117 "suggestion - allow attaching label in PR"
This is suggestion to add labels such as
- In Progress
- Ready for Review
- On Hold
- Need Help
etc...

Thanks again & once again kudos for this amazing initiative & library...

[2020-01-25 08:01] satishchandra538 commented on #85
yes! that right by this it would be easy to understand and learn

[2020-02-14 16:13] abhi0977 commented on #85
@co16353sidak
are you working on this?

[2020-02-14 19:03] satishchandra538 commented on #85
Sorry currently I am not working on this project.

On Fri 14 Feb, 2020, 9:44 PM Abhi Ramani, <notifications@github.com> wrote:

[2020-02-17 13:34] akdnfbf opened #118 "WU AND MG TRANSFERS FOR 10-15% OF THE AMOUNT!!! 💰💰💰"
WU AND MG TRANSFERS FOR 10-15% OF THE AMOUNT!!!

FOR EXAMPLE:

WORLD WIDE WESTERN UNION & MONEYGRAM PRICES:

You pay: [ 299 $ BitCoin / PerfectMoney ] You receive: [ $2000 WU or MG ]
You pay: [ 390 $ BitCoin / PerfectMoney ] You receive: [ $3000 WU or MG ]
You pay: [ 480 $ BitCoin / PerfectMoney ] You receive: [ $4000 WU or MG ]
You pay: [ 570 $ BitCoin / PerfectMoney ] You receive: [ $5000 WU or

[2020-03-01 05:15] itsvinayak opened #120 "adding Contributing guidelines"
contributing guidelines are needed to clear doubts of new contributor

[2020-03-22 19:33] ritwikchakraborty123 commented on #81
can i make a pull request...i can update the code by applying dynamic programming.

[2020-04-10 02:51] Ayush-goals opened #123 "Javascript"

[2020-04-10 06:11] ms10398 commented on #123
Closing the issue as no description is there

[2020-04-10 06:11] #123 closed

[2020-04-11 07:29] Ayush-goals opened #124 "Hello"

[2020-04-17 03:50] StepfenShawn commented on #124
Hi

[2020-04-17 03:50] #124 closed

[2020-04-25 20:24] itsvinayak commented on #120
@cclauss  please look into this issue

[2020-04-25 20:27] #117 closed

[2020-04-29 09:34] Ayush-goals opened #129 "Hello eogh"

[2020-04-29 09:35] Ayush-goals opened #130 "Hello world"

[2020-04-29 09:35] Ayush-goals commented on #130
Bj

[2020-04-29 09:35] #130 closed

[2020-04-29 12:57] StepfenShawn commented on #129
Hi!

[2020-04-29 12:57] #129 closed

[2020-05-02 20:05] itsvinayak commented on #120
@cclauss please have a look to this [PR](https://github.com/TheAlgorithms/Javascript/pull/136)
it's almost same as TheAlgorithms/Python one

[2020-05-02 20:37] cclauss commented on #120
I will send you some suggestions tomorrow.

[2020-05-02 21:59] itsvinayak commented on #120
thanks

Vinayak sharma

9259888898

IERT allahabad
CSE 3rd year

On Sun, 3 May, 2020, 2:07 AM Christian Clauss, <notifications@github.com>
wrote:

[2020-05-03 12:57] itsvinayak commented on #85
@abhi0977 , @satishchandra538 , @co16353sidak what about creating the wiki for this purpose

[2020-05-03 13:03] itsvinayak commented on #85
@co16353sidak should I clean README.md

[2020-05-03 14:50] itsvinayak commented on #120
@cclauss should I close this issue

[2020-05-03 15:03] cclauss opened #139 "Files that are not compliant with standardjs"
The following FilePaths fail `npx standard FilePath` and can not be fixed using the `--fix` option.
* https://standardjs.com
* [x] Javascript/linear-algebra-javascript/test/test.js
* [x] Javascript/linear-algebra-javascript/src/la_lib.js
* [ ] Remove [`|| true` from the `npx standard` command](https://github.com/TheAlgorithms/Javascript/blob/master/.github/workflows/nodejs.yml#L23)

---
* [x] Java

[2020-05-03 15:08] #120 closed

[2020-05-03 21:18] juliano-nunes commented on #139
Can I help with `Javascript/Ciphers/vigenereCipher.js` ?

[2020-05-03 21:34] juliano-nunes commented on #139
Hey @itsvinayak, let me know if you need help :)

[2020-05-03 21:51] cclauss commented on #139
This work should not all be done in one pull request (to have mercy on project maintainers) and should not all be done by one developer.  So if you wish to help, just fix a few files and submit a PR.  You do not need to wait for permission, just dig in.  ;-)

[2020-05-04 00:32] juliano-nunes commented on #139
Ok @cclauss, thank you. I have opened a PR to fix the first ones (Ciphers, Conversions and Data Structures).

[2020-05-04 05:21] cclauss commented on #139
Nice.  I look forward to seeing #140 reviewed and landed.  For future pull requests, to make this process easier for the reviewers, please try to do those files where standard just one or two objections first.  This will build momentum and should quickly get the long list down to a reasonable size.  For the files that require complex changes, please try to do one file per pull request.

Also, plea

[2020-05-04 05:42] itsvinayak commented on #139
#140 has been merged and PR #141 has been created

[2020-05-04 06:29] cclauss commented on #99
https://github.com/TheAlgorithms/Javascript/search?l=typescript

[2020-05-04 07:18] #85 closed

[2020-05-04 07:28] itsvinayak opened #142 "Doctest required"
it will be good if algorithms have Doctest's  https://www.npmjs.com/package/doctest

[2020-05-04 12:23] itsvinayak commented on #99
@cclauss  should we close this issue

[2020-05-04 15:26] #115 closed

[2020-05-04 20:34] itsvinayak commented on #139
#147  is merged

[2020-05-04 20:44] cclauss commented on #139
6 files left...  Do you know how to solve the problem with the sorts?

[2020-05-05 05:26] cclauss commented on #139
@Nur69 Would you be willing to see if you can get Javascript/maths/graph.js to pass https://standardjs.com ?  I tried but was unable to get it to pass.

[2020-05-05 06:04] itsvinayak commented on #139
no, there is a problem with /linear-algebra-javascript/ and /sorts/  Algorithms

[2020-05-05 09:44] cclauss commented on #139
Sort issue is https://www.google.com/search?q=Array+prototype+is+read+only%2C+properties+should+not+be+added.

[2020-05-05 18:29] itsvinayak commented on #139
`Javascript/maths/graph.js` has been fixed in this [commit](https://github.com/TheAlgorithms/Javascript/commit/fc0aba01ace4b3e23e95d2439a185d89e2ec15f9)

[2020-05-05 20:16] itsvinayak commented on #139
#152
[code]

[2020-05-05 20:25] #139 closed

[2020-05-06 08:43] #99 closed

[2020-05-07 15:30] itsvinayak opened #155 "more contributors are needed"
- [ ]  Adding hints and doctest to old codes
- [ ] Reviewing  Pending PRs ( fixing code format by running `npm standard --fix` PR labeled under "failing npm standards"  )
- [ ] Helping new Contributors
- [ ] Add more algorithms

thank you

[2020-05-08 06:28] Satzyakiz commented on #81
Is this issue still open ? I would like to work on it.

[2020-05-08 06:30] Satzyakiz commented on #14
I would like to work on this issue.

[2020-05-08 09:07] itsvinayak commented on #81
@Satzyakiz go for it

[2020-05-08 09:45] Satzyakiz commented on #81
Maybe something like this :
[code]
This is nothing new, just avoiding the recursive calls.

[2020-05-08 10:43] itsvinayak commented on #81
@Satzyakiz you can make a separate function for this approach and send a PR

[2020-05-08 10:45] Satzyakiz commented on #81
Where should I keep it ? In Algorithms/Dynamic-Programming/ ?

[2020-05-08 11:42] itsvinayak commented on #81
In same file make a function

Vinayak sharma

9259888898

IERT allahabad
CSE 3rd year

On Fri, 8 May, 2020, 4:15 PM Satzyakiz, <notifications@github.com> wrote:

[2020-05-09 04:01] cclauss opened #160 "Build DIRECTORY.md with JavaScript, not Python"
We present all of of our algorithms in an organized list, [__DIRECTORY.md__](../blob/master/DIRECTORY.md) so visitors can rapidly find topics of interest.  Currently DIRECTORY.md is being autogenerated by one of [our GitHub Actions](../tree/master/.github/workflows) which [uses Python code](../blob/master/.github/workflows/update_directory_md.yml#L11-L57) to create the directory text.

Why should

[2020-05-09 04:33] itsvinayak commented on #81
many new algorithms are added on this topic #159

[2020-05-09 04:33] #81 closed

[2020-05-09 08:23] sahilbansal17 commented on #160
@cclauss I would like to work on this.

[2020-05-09 08:51] cclauss commented on #160
No need to wait for permission... Just do it!

[2020-05-10 06:35] sahilbansal17 commented on #160
I have added the workflow as a js file in PR #163 .
The yml file needs to be updated so that the action can be run, I tried to look up github actions on javascript documentation and try to figure it out but didn't understand how to run the standalone js file. Some help will be appreciated.

[2020-05-10 07:19] cclauss opened #164 "Rationalize the two different implementations of heap sort"
We have [two different implementations of heap sort](https://github.com/TheAlgorithms/Javascript/tree/master/Sorts).  Can we build a benchmark to prove which one is faster or better than the other?  Benchmark against small datasets, large datasets, and empty datasets.  It is OK to keep both if they have different strengths and weaknesses.  If there is a clear winner, let's delete the other one.

[2020-05-10 15:51] #160 closed

[2020-05-11 04:19] itsvinayak opened #168 "using arrow function,this keyword and classes in place of normal function"
we should update contributing guidelines to use [arrow function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions), [this keyword](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this) and [classes](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Class_fields)  over traditional function as they provide

[2020-05-11 04:20] itsvinayak commented on #168
@cclauss

[2020-05-11 10:47] cclauss commented on #168
I am not an active JavaScript developer.  I can say that in Python, there is a movement away from classes (trying to do more in functions and less in OOP) and away from anonymous functions because normal functions are easier to understand (more self-documenting) and easier to test.

Hopefully active JavaScript developers can jump into this discussion and provide proper feedback.

[2020-05-11 16:01] sahilbansal17 commented on #164
@cclauss It seems that both the implementations are exactly the same algorithmically.

[2020-05-11 20:20] cclauss commented on #164
It would be cool to have a benchmark because then we would have ___proof___ that they are the same and have the same performance for multiple datasets.  Hint: I doubt it.

Such a benchmark could be extended to do side-by-side performance tests of all 19 of our sort algorithms.  Benchmarks are cool and they have the power to push our contributors to optimize.

[2020-05-12 10:24] cclauss commented on #142
Which files is this in today?  It would be good to have a list of examples in this repo that contributors could review.

[2020-05-12 13:46] itsvinayak commented on #142
@cclauss currently none of the files have Doctest

[2020-05-12 14:12] cclauss commented on #142
#### Todos:
* [ ] Add doctests to at least two algorithms in this repo
* [ ]  Help at least one contributor to add doctests to a new algorithm contribution
* [ ] Discuss how difficult it was to complete 1. and 2.
* [ ] Decide if we should make doctests a _requirement_ of new contributions to this repo.

[2020-05-12 16:02] poyea commented on #164
Also, there's something more we can do. At least [BogoSort](https://github.com/TheAlgorithms/Javascript/blob/master/Sorts/BogoSort.js#L7) has an `isSorted` function and a `shuffle` function. We can make use of these two functions to build our test sets for the whole `sort/`.

[2020-05-12 16:10] poyea opened #170 "Re-orgainze files and folders in the repository"
We have to re-organize some files and folders in this repository, as per discussion [here](https://github.com/TheAlgorithms/Javascript/pull/167#issuecomment-627237727). These actions include:

- [x] [Remove our Algorithms folder and put the contents in their correct category](https://github.com/TheAlgorithms/Javascript/tree/master/Algorithms)
- [x] [Rename Linear-Algebra-Javascript to Linear-Algeb

[2020-05-12 16:20] cclauss commented on #164
;-)  Are lines 10-13 needed?

[2020-05-12 16:32] poyea commented on #164
If the loop starts with `i=1` and compares `this[i-1]` with `this[i]` then it is, but no for the current code.

[2020-05-12 16:58] cclauss commented on #164
Does the loop ever execute at all?

[2020-05-12 17:06] poyea commented on #164
Yes. It's kind of an extension for the Array object. That's why we can use it directly.
https://js.do/code/438412

[2020-05-12 17:55] itsvinayak commented on #142
more people of the community should discuss this issue

[2020-05-12 19:39] cclauss commented on #164
Our test cases are when `length < 2` so...
document.write([].isSorted());  // --> true
document.write([1].isSorted());  // --> true

Now comment out lines 10-13 and run again.

You will get the exact same results because the loop never runs.

Lines 10-13 can be deleted.

[2020-05-12 20:15] cclauss commented on #170
I believe that Conversions, Ciphers, and Hashes are classes of algorithms that are more useful separated in their own directories rather then lumping them all in the maths directory.  The idea is to help visitors to find related things quickly and lumping them all together would not help in that regard.

[2020-05-12 20:16] cclauss commented on #170
Arrays are a data type.  Searches are algorithms.

[2020-05-18 05:13] itsvinayak commented on #170
#172

[2020-05-18 07:16] #170 closed

[2020-05-20 19:43] DAMMAK commented on #155
I'm ready to contribute... but don't know what to fix, contribute or do...

[2020-05-21 05:37] itsvinayak commented on #155
@DAMMAK you can do many things:
code review
adding algorithms
or just fix something

[2020-05-21 05:39] itsvinayak commented on #155
@DAMMAK  start by reading [CONTRIBUTING.md](https://github.com/TheAlgorithms/Javascript/blob/master/CONTRIBUTING.md)

[2020-05-21 05:40] Altesse2 commented on #170
👍👍👍

[2020-05-21 13:32] DAMMAK commented on #155
okay thanks... I will do that..

[2020-05-23 07:34] fireairforce opened #176 "A js file is not staged in the main repo"
![image](https://user-images.githubusercontent.com/32598811/82724712-90a22280-9d0a-11ea-8fa8-02fecb05ec07.png)

I have no rights to `commit` this file.
I will be grateful if you can deal with it.

[2020-05-23 12:53] ovidroid opened #177 "Javascript"
Study krne

[2020-06-02 03:45] #176 closed

[2020-06-02 17:11] iamrajiv opened #184 "wrong file location of DijkstraSmallestPath.js"
`DijkstraSmallestPath.js` is stored in `Maths` subfolder. It should be stored in the `Graphs` subfolder.

[2020-06-17 10:24] ruppysuppy opened #187 "Addition of Web Programming"
Can I work on addition of the web programming segment as available in [TheAlgorithms/Python](https://github.com/TheAlgorithms/Python/tree/master/web_programming)? I would like to work on the [Open Weather Maps](https://github.com/TheAlgorithms/Python/blob/master/web_programming/current_weather.py) example.

[2020-06-18 09:06] TcTOrz opened #188 "Wrong in /Conversions/DecimalToHex.js"
// hexOut.push(intToHex(num % 16))
hexOut.unshift(intToHex(num % 16))

[2020-06-19 17:46] ayaankhan98 opened #189 "Add Depth First Search Algorithms in datastructures/graphs"
currently we do not have the Depth first search implementaion.

anyone who wishes to work can takeup this issue.

[2020-06-19 17:47] ayaankhan98 opened #190 "Add algorithm to find connected components in graph using depth first search"
anyone who wishes to work can takeup this issue.

[2020-06-19 17:48] ayaankhan98 opened #191 "Add algorithm to find connected components using Disjoint sets"
Anyone who wishes to work can takeup this issue

[2020-06-19 17:49] ayaankhan98 opened #192 "Add algorithm to find the Minimum Spanning Tree using Prims Algorithm"
anyone who wishes to work can takeup this issue

[2020-06-19 17:51] ayaankhan98 opened #193 "Add Kruskal's Algorithm to find Minimum Spanning Tree"
anyone who wishes to work can takeup this issue.

[2020-06-20 04:39] #184 closed

[2020-06-20 19:38] itsvinayak commented on #187
@ruppysuppy go on,
let us know if you need any help by [issues](https://github.com/TheAlgorithms/Javascript/issues/new/choose) or on [gitter](https://gitter.im/TheAlgorithms/community)

[2020-06-20 19:40] itsvinayak commented on #177
please provide proper issues
@ovidroid

[2020-06-20 19:40] #177 closed

[2020-06-20 19:43] itsvinayak commented on #188
please make a [PR](https://opensource.com/article/19/7/create-pull-request-github)  to the repository with correction
@TcTOrz thank you

[2020-06-20 19:49] itsvinayak opened #195 "Algorithm needed for graphs data structures"
some algorithms :1st_place_medal:

- [x] Add Kruskal's Algorithm to find Minimum Spanning Tree
- [x] Algorithm to find the Minimum Spanning Tree using Prims Algorithm #227
- [x] Algorithm to find connected components using Disjoint sets
- [x] Algorithm to find connected components in the graph using depth-first search  #223
- [x] Depth First Search Algorithms #199

---
feel free to add more algori

[2020-06-20 19:49] #193 closed

[2020-06-20 19:50] #192 closed

[2020-06-20 19:50] #191 closed

[2020-06-20 19:50] #190 closed

[2020-06-20 19:50] #189 closed

[2020-06-20 19:51] itsvinayak commented on #195
@ayaankhan98

[2020-06-20 19:53] ayaankhan98 commented on #195
i opened seprate issue for each one because if someone wishes to work on only one algorithm then it will be easy to track. well i have no problem with this too

[2020-06-20 20:08] itsvinayak commented on #195
@ayaankhan98  opening many issues for the same thing doesn't seem like a nice idea

[2020-06-20 20:11] itsvinayak commented on #195
@ayaankhan98 we need help with this #168
please have a look

[2020-06-20 20:20] ayaankhan98 commented on #168
it is not always necessary to use arrow funtions because along with benefits there are pitfalls also if one is not carefull about using them such as the `this` keyword behaves differently with normal functions and arrow functions.
i think the best is to use normal functions for object methods and use arrow functions for callbacks or methods like map, reduce, or forEach.

[2020-06-20 20:24] itsvinayak commented on #168
@ayaankhan98, this issue is on hold for a long time should we close it (if not needed) or wait for other members to review

[2020-06-20 20:27] ayaankhan98 commented on #168
let's close this and let the contributor to decided the best possible design for the program let it be up to them to use arrow functions or calsses what we can do is that if something is not fine or if there is some another way to do that thing in more efficient way then we can ask them to change the implementation.

[2020-06-20 20:37] #168 closed

[2020-06-20 20:38] itsvinayak commented on #14
#195

[2020-06-20 21:28] ayaankhan98 commented on #195
@itsvinayak  are you working on this?

[2020-06-21 01:36] itsvinayak commented on #195
currently, I am not working with this issue, you can move forward if you want.
@ayaankhan98

[2020-06-21 10:48] ayaankhan98 commented on #195
i just asked for curiosity

[2020-06-21 14:39] comradesurendra commented on #195
I have implemented the DFS part. Have a look at it....!

[2020-06-21 16:38] #187 closed

[2020-06-22 08:27] #188 closed

[2020-06-23 06:34] ruppysuppy opened #200 "Addition of simulations algorithms"
Some Simulation Algorithms like Monte Carlo Pi Approximation, Markov Chain and Metro-Police algorithm would be a nice addition

[2020-06-23 08:19] ruppysuppy opened #202 "Addition of .gitignore file"
Add .gitignore file to ignore the addition of node modules and other unwanted files in the commits.

If a memeber views this, please add good first issue and difficulty: easy labels

[2020-06-23 15:30] itsvinayak commented on #202
@ruppysuppy, can you do that
it would be great

[2020-06-24 05:54] #202 closed

[2020-06-24 05:55] #200 closed

[2020-06-27 15:54] ruppysuppy opened #210 "Addition of standard in package.json"
`standard` module needs to be added as a dev dependency in the [package.json](https://github.com/TheAlgorithms/Javascript/blob/master/package.json) file

[2020-06-28 07:01] itsvinayak commented on #195
@comradesurendra
Can you mention your PR here

thank you

[2020-06-28 07:24] Swapnil-2001 commented on #210
@ruppysuppy I am just getting started in open source contribution, can I take this up?

[2020-06-28 08:38] #210 closed

[2020-06-30 05:05] ruppysuppy opened #215 "Missing Extension in Hex to RGB"
`.js` extension needs to be added to [HexToRGB](https://github.com/TheAlgorithms/Javascript/blob/master/Conversions/HexToRGB) file

[2020-06-30 15:59] itsvinayak commented on #215
thanks @ruppysuppy

[2020-06-30 15:59] #215 closed

[2020-07-03 01:25] siddharthkr24 opened #220 "Algorithms in JavaScript (dammn!)"

[2020-07-03 02:36] ruppysuppy commented on #220
Don't open empty issues

[2020-07-03 19:30] #220 closed

[2020-07-06 15:23] TangibleDream commented on #14
I added GridGetX and GridGetY #222

[2020-07-06 15:30] TangibleDream commented on #195
@itsvinayak Would #222 be considered a graph calculation?

[2020-07-06 18:48] itsvinayak commented on #195
no its a maths algorithm examples

[2020-07-06 18:54] itsvinayak commented on #195
hey @ruppysuppy, can you work with any of the algorithm mentioned above

[2020-07-07 03:41] ruppysuppy commented on #195
Ok, I'll add the algorithms (except the one using disjoint sets)

[2020-07-09 05:22] Gabriel-Louis opened #224 "Your procedure in getting solving the problem is quite clear. Love it!"

[2020-07-09 05:23] Gabriel-Louis commented on #224
Your procedure in solving the problem was quite clear and Concise. I love it!

[2020-07-09 05:27] ruppysuppy commented on #224
Don't open issues unnecessarily

[2020-07-09 05:33] ruppysuppy opened #225 "DFS algorithm in Graph folder is a tree algorithm"
The [DFS algorithm](https://github.com/TheAlgorithms/Javascript/blob/master/Graphs/DepthFirstSearch.js) uses tree in-place of graph, it should be moved to the tree section

[2020-07-09 05:36] ruppysuppy opened #226 "The type of Graph should be mentioned in ConnectedComponents"
The [Connected Components](https://github.com/TheAlgorithms/Javascript/blob/master/Graphs/ConnectedComponents.js#L1) should hold the type of graph (adjacency list) in its name (needs to be updated it in the main section too)

[2020-07-09 20:08] #224 closed

[2020-07-21 06:59] ruppysuppy opened #231 "Typo in Prim's MST"
There is a typo in [Prim's MST Algorithm](https://github.com/TheAlgorithms/Javascript/blob/master/Graphs/PrimMST.js#L166), it says *__Kruskal's Algorithm__* inplace of *__Prim's Algorithm__*

[2020-07-28 16:16] #225 closed

[2020-08-01 03:41] #226 closed

[2020-08-01 03:48] #231 closed

[2020-08-01 03:48] itsvinayak commented on #231
Thanks @ruppysuppy

[2020-08-01 03:50] #195 closed

[2020-08-01 09:29] nandanvasudevan opened #239 "TimingFunction/IntervalTimer with NodeJS"
The function **works fine on the browser**. The instance returns the time run.
However, **nodeJS uses a completely different structure** for it's timers.
It *may not be necessary in NodeJS*. I genuinely think it helps otherwise, I use it to time my unit tests.

The value returned by setInterval() is the total runtime of the timer.

[2020-08-02 04:35] nandanvasudevan commented on #142
Can we update the `package.json` with DocTest?
It's really easy to use especially for everything in this repo.

[2020-08-02 04:55] cclauss commented on #142
Done in https://github.com/TheAlgorithms/Javascript/commit/4cbdc9e072ee2c373a2d0efacb501bd2c9db92a4

[2020-08-03 00:51] RaminCH opened #242 "js alg"

[2020-08-03 06:42] #242 closed

[2020-08-03 16:12] nandanvasudevan commented on #142
I think we should.

Shall I start writing a DocTest.md to help people add DocTests?

[2020-08-06 15:20] Sheraff opened #245 "Median Estimate For Circular Data"
Would an implementation for finding the median in circular data (angles, hours...) be of interest here? I recently implemented one in JS from a published paper (original implementation in R).

https://github.com/Sheraff/boids/blob/master/js/median.js

If so, I can format it to meet the standards.

[2020-08-07 06:41] Makso83 opened #246 "New Stack data-structure"
I'd like to contribute new Stack realization in ES6 (classes) syntax.

[2020-08-07 23:14] LASombraYAurora opened #249 "I'll read"

[2020-08-07 23:14] #249 closed

[2020-08-08 05:56] priyanshk20 commented on #155
i want to contribute too

[2020-08-08 13:34] techieParth opened #253 "Adding more algorithm in String"
I am willing to add algorithm to test if strings are anagram. May I add?

[2020-08-08 19:37] itsvinayak commented on #155
That would be great, @priyanshk20
thanks

[2020-08-09 03:04] Alistair017 opened #255 "JavaScript"
For extra learning reference material

[2020-08-15 03:10] #255 closed

[2020-08-17 08:25] Lakhan-Nad opened #265 "Feature: Adding Introsort implementation in JS."
We can add the sort routine used by std::sort in c++ standard library in JavaScript.
Introsort is a hybrid sorting algorithm that uses quicksort and heapsort. The C++ STL takes it a step further and adds insertion sort to it for small length arrays.
We can add a method is JS for introsort which takes array and a compare function as parameters and sorts the array.

[2020-08-17 15:41] Brunomestieri opened #268 "Javascript"

[2020-08-17 15:41] Brunomestieri opened #269 "Js"

[2020-08-18 05:24] Aditya-Ramachandran commented on #155
Okay, I am ready to contribute too...
But what do I have to do exactly??

[2020-08-18 08:18] harshitagrawal7733 commented on #14
What to do?
Add more alogorithms is the goal?

[2020-08-19 06:26] itsvinayak commented on #155
@Aditya-Ramachandran  you can do anything, this repo is a learning place just read [CONTRIBUTING.md](https://github.com/TheAlgorithms/Javascript/blob/master/CONTRIBUTING.md)

you can -
- [ ]  Adding hints and doctest to old codes
- [ ] Reviewing  Pending PRs
- [ ] Helping new Contributors
- [ ] Add more algorithms

thank you
@itsvinayak

[2020-08-19 06:27] #265 closed

[2020-08-19 06:34] #269 closed

[2020-08-19 06:34] #268 closed

[2020-08-19 06:34] itsvinayak commented on #253
@techieParth go for it !!

[2020-08-19 06:35] itsvinayak commented on #246
@Makso83 that would be great, please refer this issue

[2020-08-19 08:10] Aditya-Ramachandran commented on #155
Oh okay, thank you so much @itsvinayak

[2020-09-01 18:48] s-ndipchaudh-ri commented on #155
hey team,
I am interested to contribute in project.

[2020-09-11 12:19] Maxz2136 commented on #155
Hello, I want to contribute to this project
I am little new to JS, can anybody tell me how to add doctest to old code?

[2020-09-27 03:58] nil1729 opened #289 "Adding more algorithm in String [ Valid Palindrome ]"
Remove at most a character in a string so that String becomes palindrome or not.
Can I contribute to this solution?

[2020-09-29 19:02] JimmyJoo opened #290 "Optimize Sieve of Eratosthenes"
Hi 😀
I would like to optimize Sieve of Eratosthenes algorithms in Math section.
Also, I could add some explanation for optimization if allowed.
Can I work on it? 🔥

[2020-09-30 15:51] remmaso commented on #155
Ready to contribute asap

[2020-09-30 16:43] Lakhan-Nad opened #297 "Add Trie data structure."
We can add [Trie](https://en.wikipedia.org/wiki/Trie) data structure. Trie is a prefix tree which is has various practical applications the most common being dictionary.

It supports various methods
- insert a word
- delete a word
- find all words with given prefix

[2020-09-30 16:44] Lakhan-Nad commented on #297
I have already added a pull request regarding same please review it [PR](https://github.com/TheAlgorithms/Javascript/pull/296)

[2020-10-01 03:39] Aayushadh opened #305 "Add "Rat in a maze" problem in Backtracking"
Rat in a maze is one of the most popular backtracking problem, I would like to add it.

[2020-10-01 05:43] Aayushadh commented on #305
I had added this problem to backtracking folder, check it here - #309

[2020-10-01 05:52] Aayush2011 opened #310 "Add Tower of Hanoi Problem"
Tower of Hanoi is one of the most decent problem in recursion. I would like to add it.

[2020-10-01 06:22] Aayush2011 commented on #310
I had added the Tower of Hanoi. You can check here #312

[2020-10-01 07:08] aniketsingh98571 opened #313 "Quick Sort in Sorting Algorithm"
Quick Sort Algorithm using Javascript.
@itsvinayak @cclauss  Please assign me this issue.

[2020-10-01 07:08] aniketsingh98571 commented on #313
@itsvinayak @cclauss Please assign me this issue.

[2020-10-01 07:18] cclauss commented on #313
Please do not wait for permission.  We do not assign issues.  We review pull requests.  If you see something that needs fixing then submit a pull request.  If two contributors submit pull requests to fix the same issue, it is almost always a learning experience.

[2020-10-01 07:18] #313 closed

[2020-10-01 07:28] Aayush2011 opened #314 "Add digitSum in math folder"
As we know sum of digits of a number is one of the common problem,so it must be add in math folder.

[2020-10-01 07:37] Aayush2011 commented on #314
this issue has been resolved. see this #315

[2020-10-01 08:06] Ac-Srikanth opened #319 "Factorial of a number Using Recursion"
Can we implement this under the recursion folder. ?

[2020-10-01 10:36] veerreshr commented on #319
could I take this issue?

[2020-10-01 10:38] GouravSingal-code commented on #319
can i take this issue?

[2020-10-01 10:44] vishnu0pothan opened #323 "Add octal to decimal conversion"
To add octal to decimal conversion to the conversions. There is no octal to decimal in that.

[2020-10-01 10:48] Aayush2011 opened #325 "Change var to let/const in Graph/DijkstraShortestPath"

[2020-10-01 10:50] Aayush2011 commented on #325
This issue has been fixed -  #322

[2020-10-01 17:28] itsvinayak commented on #155
hey, @remmaso  welcome to  community

[2020-10-01 17:33] itsvinayak commented on #155
hey @Maxz2136  please have a [look here](https://www.npmjs.com/package/doctest)
and also look in this issue #142

[2020-10-01 17:42] #323 closed

[2020-10-01 17:48] itsvinayak commented on #14
@harshitagrawal7733 adding algorithms which follow coding standards of repo
please have a look [here](https://github.com/TheAlgorithms/Javascript/blob/master/CONTRIBUTING.md)

[2020-10-01 17:50] itsvinayak commented on #290
hey @JimmyJoo, that would be great, go on !!

[2020-10-01 17:50] #290 closed

[2020-10-01 18:07] itsvinayak commented on #239
@nandanvasudevan is there any program in the repo with this issue, please list here

[2020-10-01 18:07] #246 closed

[2020-10-01 18:12] #253 closed

[2020-10-01 18:37] itsvinayak commented on #310
good work @Aayush2011

[2020-10-01 18:37] #310 closed

[2020-10-01 21:56] #297 closed

[2020-10-02 07:49] remmaso commented on #142
In your document, open the “Insert” menu and then choose the “Drawing” command. In the Drawing window that opens, click the “Text Box” button on the toolbar at the top. Now, click and drag your mouse to create a text box in the space provided, and then add your desired tex

[2020-10-02 09:59] JimmyJoo commented on #155
Hi I wanna contribute to this project

[2020-10-02 14:20] dev348 commented on #14
Yeah sure 👍🏾

[2020-10-02 14:35] itsvinayak commented on #155
@JimmyJoo  sure, go on

[2020-10-02 14:47] jainkuniya opened #366 "Add BFS algorithms under tree folder."
I would like to work on this.

[2020-10-02 15:31] jainkuniya commented on #366
This issue was created as part of learning session. Closing it now.

[2020-10-02 15:31] #366 closed

[2020-10-02 16:50] 0Zeta opened #372 "PrimeCheck returning true for every number smaller than 2"
There is a bug that causes every number smaller than 2 to be evaluated as prime, which obviously isn't the case as 2 is the smallest prime number.

[2020-10-02 23:49] muzahir-12 opened #382 "Combination of different languages or apps will cause problems?"

[2020-10-03 14:45] abxsantos commented on #155
Hi! I want to contribute too. Adding tests to the existing code is a possibility? Or is it better to review some PR requests?

[2020-10-03 14:58] itsvinayak commented on #155
Hey, @abxsantos that will be great, it's all your wish you can add test or review PR

[2020-10-03 15:11] abxsantos commented on #155
Great! I'll start by adding some unit tests with jest for the existing algorithms. Then I'll move to review PR.

[2020-10-04 01:31] komputarist commented on #155
Hi. I already made some contributions. Here is a [PR](https://github.com/TheAlgorithms/Javascript/pull/348)

[2020-10-04 01:40] muzahir-12 opened #394 "Algorithm"

[2020-10-04 01:41] #394 closed

[2020-10-04 08:46] thoughtlessmind commented on #155
Hey! I really liked this repo. I'm wondering why I couldn't find it earlier😅. I'm hoping to contribute here as much as possible.

[2020-10-04 13:48] itsvinayak commented on #382
hey @muzahir-12 can use provide more description about the problem?

[2020-10-04 13:48] #382 closed

[2020-10-04 14:31] patelvimal commented on #289
Example string "xyabyx" if I remove b from the string it will become a palindrome. Is it like this?

[2020-10-04 15:24] DarkWarrior703 opened #404 "Add TimSort"
It's a nice algorithm, used in Python and Java libraries.

[2020-10-04 15:47] DarkWarrior703 commented on #404
I added a pull request to add TimSort.
[Pull Request](https://github.com/TheAlgorithms/Javascript/pull/406)

[2020-10-04 17:22] #155 closed

[2020-10-04 17:49] nil1729 commented on #289
Yes. Can I do this?

[2020-10-05 07:32] arnabuchiha opened #413 "Add ConvexHull using Graham's Scan"
If Convexhull is not implemented yet, Can I do it?
@KuLi @TangibleDream @Vodkacannon

[2020-10-05 08:16] DarkWarrior703 opened #414 "Selection Sort is broken"
Line ` [items[i], items[min]] = [items[min], [items[i]]] ` is broken. It produces new arrays of single items because of a ].

[2020-10-05 17:44] #404 closed

[2020-10-05 18:03] #414 closed

[2020-10-06 04:49] aakhtar3 commented on #14
I just added a few algorithms.

Are we able to add diagrams? I have a bunch of notes that tie to my code to help understand the data structures and algorithms.

[2020-10-06 08:30] arnabuchiha commented on #413
I have implemented in pull request #416 . Please review it and merge it .

[2020-10-07 07:54] marsonya commented on #142
hey @itsvinayak, i would like to help with adding doctest across the codebase. i have taken time to understand what doctest is and how it works.
i am kinda new to open source contributions. so i was wondering if you could just give me a starting advice.
like do i start by add doctest to one algo first and submit pr and then add to others or like how should i begin?

[2020-10-07 08:49] cclauss commented on #142
Open pull requests, not issues.  Only one file per PR so they are easy to review and land.

[2020-10-07 08:51] marsonya commented on #142
understood. i will get to work right away.
thanks @cclauss

[2020-10-11 17:11] vinay72 commented on #14
@AnupKumarPanwar Hi, Anup. I've added a De-facto unbiased shuffle algorithm also known as the Fisher-Yates shuffle algorithm, so please review and merge my PR.

[2020-10-11 19:44] itsvinayak opened #461 "Adding documentation for doctest to help new contributors"
[doctest help](https://www.npmjs.com/package/doctest)

[2020-10-12 07:28] itsvinayak commented on #142
hey, @marsonya can you help me with this #461 issue

[2020-10-12 11:58] Bhairavi-shah commented on #461
Hey! I would like to work on this. Currently which all programs need doctest? Is there something I can refer?

[2020-10-12 14:02] itsvinayak commented on #461
sure  @Bhairavi-shah
some files have [doctest](https://www.npmjs.com/package/doctest)
refer to #142

[2020-10-12 16:52] marsonya commented on #142
Hey @itsvinayak, sure.
I will create a documentation for doctest.
Getting started right away...

[2020-10-12 17:21] itsvinayak commented on #142
@marsonya thanks

[2020-10-14 02:08] itsvinayak opened #469 "improving code quality"
improving the code quality of the repo,
https://lgtm.com/projects/g/TheAlgorithms/Javascript/alerts/?mode=list

[2020-10-15 06:57] Mathur777 commented on #319
kindly assign me  to this.

[2020-10-19 16:16] elouie-code commented on #469
@itsvinayak looking at this, mind if I take it?

[2020-10-19 17:38] arjun1311 commented on #14
Hi, I have added an algorithm please review and merge my PR

[2020-10-19 21:16] Eji4h opened #503 "Maths/Factorial have more minimal side effects."
At [Contribution Guidelines](https://github.com/TheAlgorithms/Javascript/blob/master/CONTRIBUTING.md) have minimal side effects is one of What is an Algorithm. I think code can improve by refactor to functional programming.

[2020-10-20 07:30] jayantchaudhary002 commented on #461
I would like to work on this

[2020-10-20 07:30] jayantchaudhary002 commented on #469
I would like to work on this

[2020-10-20 15:46] sukhpreetsekhon commented on #142
raised PR for doctest https://github.com/TheAlgorithms/Javascript/pull/502. Please review. Thanks!

[2020-10-22 07:33] itsvinayak commented on #469
sure @jayantchaudhary002 go for it !!

[2020-10-22 07:35] itsvinayak commented on #469
sure @elouie-code go for it, and please refer to the files you are working on!!

[2020-10-22 15:41] allenjamesvinoy14 commented on #14
Can you please open an issue with hacktoberfest label to add data structures as well? Or may I add a data structure under this issue?

[2020-10-25 02:05] sonechca commented on #14
Hi, I added a new algorithm "Tree Sort".
Can you check my code?
Thank you https://github.com/TheAlgorithms/Javascript/pull/513

[2020-10-26 05:49] Nirali0029 opened #517 "A* search Algorithm"

[2020-10-26 06:11] Nirali0029 opened #518 "K-M-P string matching algorithm"

[2020-10-26 06:13] Nirali0029 opened #519 "Bellman-Floyd shortest path algorithm"

[2020-10-26 06:13] Nirali0029 opened #520 "Breadth First Search"

[2020-10-27 22:33] elouie-code commented on #14
Added a linked list reverse order algorithm. can you review please? [#528](https://github.com/TheAlgorithms/Javascript/pull/528)

Thanks!

[2020-10-30 17:21] Lakhan-Nad opened #535 "Implemntation of AVL Tree in JavaScript"
__AVL tree__ is a self balancing tree.
All the operations i.e. search, insertion, deletion take O(logN) time.
Read more about AVL Tree [here](https://en.wikipedia.org/wiki/AVL_tree)

[2020-10-31 06:35] itsvinayak commented on #289
hey @nil1729 go for it,

[2020-10-31 06:35] #289 closed

[2020-10-31 06:37] #319 closed

[2020-10-31 06:45] itsvinayak commented on #520
hey @Nirali0029 please do not open an empty issues

[2020-10-31 06:45] #520 closed

[2020-10-31 06:49] itsvinayak commented on #535
hey @Lakhan-Nad, please send a PR

[2020-10-31 06:49] #535 closed

[2020-10-31 07:50] Lakhan-Nad commented on #535
@itsvinayak  I already sent one #536
If there are any changes or updates please let me know.
Thank You

[2020-10-31 08:26] cclauss opened #539 "Tests failing: Files need to be fixed or removed"
See GItHub Actions output of #538
* [ ] Dynamic-Programming/MinimumCostPath.js
* [ ]  Linear-Algebra/test/test.js
* [ ]  String/LevenshteinDistance.test.js

[2020-10-31 11:29] Khez commented on #142
@cclauss Can I keep on adding doctests in this format ? Already done a couple of the String files with #532 #533 #534

Anything I need to change going forward with the rest of the files ?

I saw some of the algorithms have .test.js files, do we update them to doctest ?

[2020-11-02 08:40] achudinovskyh commented on #14
Hi, I've added new Search algorithm, can you check it please? Thank you! #542

[2020-11-02 14:33] marsonya commented on #142
Apologies for the delay. I have added doctest contribution guidelines. Kindly take a look and let me know if it works or if it needs ant changes.
Here's the PR #546

[2020-12-09 10:19] DhruvGheewala commented on #539
For `Dynamic-Programming/MinimumCostPath.js`, can you provide the test cases on which code fails !!

[2020-12-21 07:10] #518 closed

[2021-01-09 14:35] SoloNoah commented on #519
Can I take on this issue and implement Bellman-Ford algorithm? Or are you dealing with this issue?

[2021-01-10 02:40] Nirali0029 commented on #519
U can take up with this issue

[2021-01-21 11:08] Anubhav-developr commented on #517
what is the issue

[2021-01-23 00:34] Kachhadiyn opened #559 "Update Algorithm of CheckPalindrome.js"
Uses a better and simpler way to check if a  string is a palindrome or not

[2021-01-24 18:17] #461 closed

[2021-02-03 06:37] anukulSaini opened #564 "add extra comments for better understanding of algorithms."

[2021-02-03 17:41] marsonya commented on #564
hi @anukulSaini, can you please elaborate a bit?
like what improvements would you like to see?
how can we make the comments more helpful? where?

[2021-02-03 17:42] marsonya commented on #559
Thanks for the suggestion @Kachhadiyn, you are always welcome to put in a PR with changes you would like to suggest.

[2021-02-04 12:38] anukulSaini commented on #564
hi @marsonya it would be great if you add like 2 lines after code for talking about algo and its implementation....it will save time

[2021-02-04 12:41] anukulSaini commented on #564
There are only  code in most of the files..

[2021-02-06 12:47] MarkSFrancis opened #567 "Adding shuf - a way to get a random sample from a large dataset"
## What is shuf?
shuf is a tool to get a random sample in a random order, from a data source of an unknown size. It's used in data analytics, often as a way to get a small random sample from a data lake or warehouse, or from a large CSV file. It was originally written for `coreutils` as a CLI tool, and you can find the source for that [here](https://git.savannah.gnu.org/cgit/coreutils.git/tree/src

[2021-02-07 15:47] raklaptudirm opened #568 "Add more explanations to the wiki"
Add more algorithm explanations to the repository wiki, as not many are explained.

[2021-02-14 12:01] #564 closed

[2021-02-17 18:26] #559 closed

[2021-02-20 20:05] InerkyJad commented on #239
Hi @nandanvasudevan, i can see that your request doesn't really involve any algorithm, or issues in the repository.
Still You can use `console.time()` to start a timer and use `console.timeEnd()` to stop it, this is available on both NodeJs and in the standard JavaScript and it can be used to calculate the run time.

[2021-02-21 23:36] #164 closed

[2021-02-21 23:36] #245 closed

[2021-02-21 23:36] #305 closed

[2021-02-21 23:36] #372 closed

[2021-02-21 23:36] #413 closed

[2021-02-21 23:36] #503 closed

[2021-02-21 23:36] #14 closed

[2021-02-21 23:36] #469 closed

[2021-02-21 23:36] #519 closed

[2021-03-02 18:23] nurulc opened #573 "Tool to help develop tutorials for the library"
All, I have a tool for creating tutorial for algorithms and libraries that make the task of writing tutorial easier and fun. Please check out the following link. https://github.com/nurulc/tryitjs

If there is any interest perhaps I can create a tutorial to demonstrate.

<img width="1179" alt="pie-chart" src="https://user-images.githubusercontent.com/6815362/109695685-31efbc00-7b5a-11eb-83ed-31943b

[2021-03-06 22:56] #517 closed

[2021-03-07 19:08] LegendOfOwl opened #576 "1"

[2021-03-07 19:08] #576 closed

[2021-03-15 00:43] nurulc commented on #573
I have created a utility that takes the source code and generate a tutorial. This does require some comment annotation that I will send a pull request if the team is interested. In the meantime please check this out:

https://nurulc.github.io/Algorithms/try_it/index.html#page-1

[2021-03-19 22:55] #239 closed

[2021-03-20 21:46] ali161997 opened #581 "First javascript algorithms"

[2021-04-03 08:21] #581 closed

[2021-04-03 08:21] #568 closed

[2021-04-14 21:03] cclauss opened #586 "Fix the TODOs in .github/workflows/nodejs.yml"
https://github.com/TheAlgorithms/Javascript/blob/master/.github/workflows/nodejs.yml

[2021-04-15 09:13] algobytewise opened #587 "Waiting for responses to contributions"
I've tried to make several contributions to this repo in the last weeks: #575, #580, #584 & #585. Some of them have been reviewed but the pull requests are all still open without any pending requests for changes. Could someone of the members have a look at them?

[2021-04-16 01:09] josecarlosweb commented on #587
All PRs merged. Thank you for your contributions.

[2021-04-16 01:09] #587 closed

[2021-04-16 01:18] algobytewise commented on #587
Great, thank you for taking the time!

[2021-04-19 22:45] mellowstorm opened #588 "Javascript"

[2021-04-21 04:05] mellowstorm opened #589 "The game of life"

[2021-04-21 04:07] mellowstorm opened #590 "1"

[2021-04-21 04:07] mellowstorm opened #591 "2"

[2021-04-21 04:08] mellowstorm opened #592 "3"

[2021-05-03 17:51] MCmec2 opened #594 "Pong"

[2021-05-13 10:22] raklaptudirm commented on #567
@MarkSFrancis I would suggest you submit a pr. The mods will check the algorithm then. Cheers!

[2021-05-14 06:35] raklaptudirm commented on #567
@MarkSFrancis Sorry for the ping but I was wondering if you could close the issue since it has been solved.

[2021-05-17 09:56] #567 closed

[2021-05-21 09:26] raklaptudirm commented on #590
@mellowstorm What is this issue for?

[2021-05-21 09:41] #590 closed

[2021-05-21 09:41] #592 closed

[2021-05-21 09:41] #591 closed

[2021-05-21 09:41] #588 closed

[2021-05-21 09:44] #589 closed

[2021-05-21 09:44] #594 closed

[2021-05-22 15:53] raklaptudirm commented on #586
[code]
We need to add doctests to all files to fix that issue.

[2021-05-22 16:28] cclauss commented on #586
Or only run doctest on the files that have doctests.

[2021-05-22 16:33] raklaptudirm commented on #586
Yes but I could not find any exclusion mechanism in the docs (like `/* doctest exclude */`). We can selectively run test is the workflow, but that means it has to be updated while adding any new algorithm. We need a better alternative.

[2021-05-22 17:07] raklaptudirm commented on #539
@cclauss
- [x]  Dynamic-Programming/MinimumCostPath.js
- [x] Linear-Algebra/test/test.js
- [x] String/LevenshteinDistance.test.js

See #609

[2021-05-23 06:57] cclauss commented on #586
npx doctest a/b.js c/d.js e/f/g.js

[2021-05-23 07:06] #539 closed

[2021-05-30 09:36] raklaptudirm opened #617 "Fix the 3 existing `PR`s"
We currently have 3 existing `PR`s for the `Javascript` repository:
1. `PR` [` #574 `](https://github.com/TheAlgorithms/Javascript/pull/574) `Update NQueen.js`
2. `PR` [` #504 `](https://github.com/TheAlgorithms/Javascript/pull/504) `Add Binary Search Tree`
3. `PR` [` #459 `](https://github.com/TheAlgorithms/Javascript/pull/459) `add De-facto unbiased shuffle Algorithm`

All of them are good addit

[2021-06-06 05:27] mhihasan opened #620 "Find all solutions of NQueen problem"

[2021-06-07 05:16] #620 closed

[2021-06-07 16:49] mhihasan opened #621 "Exclude node_modules dir from doctest"

[2021-06-07 22:41] #621 closed

[2021-06-07 22:57] mhihasan commented on #142
Some files have jest tests. Should we remove those jest tests and add doctest instead? [Personally, I would vote for jest, this doctest  package is not mature enough.]

[2021-06-08 06:38] cclauss commented on #142
Please ___do not remove___ tests.  Contributors should have the freedom to test with doctests or jest.  Contibutors should not have the freedom to have no tests at all.

[2021-06-08 15:18] raklaptudirm commented on #142
@cclauss We still haven't settled on the issues of doctests failing because some files have none.

[2021-06-10 03:46] #573 closed

[2021-06-16 20:46] vsemozhetbyt opened #627 "Outdated link in the wiki"
[wiki](https://github.com/TheAlgorithms/Javascript/wiki) has an outdated link here:

It seems the

https://github.com/TheAlgorithms/Javascript/wiki/DIRECTORY.md

should be the

https://github.com/TheAlgorithms/Javascript/blob/master/DIRECTORY.md

[2021-06-17 05:28] raklaptudirm commented on #627
Fixed

[2021-06-17 05:28] #627 closed

[2021-06-28 03:20] #617 closed

[2021-07-03 06:26] raklaptudirm opened #630 "Add comments to all algorithms"
One of the main purposes of this repository is education. But for that, a comprehensive explanation of the various algorithms along with the mentioned references is required. This is achieved through well-commented code, but that is missing from many algorithms. This issue tries to start work on commenting on all the algorithms and establishing a good format for commenting. We also should check al

[2021-07-03 07:34] kkanekii commented on #586
Pull request please

[2021-07-03 11:32] raklaptudirm commented on #586
@kkanekii If you want to help, you can create a Pull Request.

[2021-07-05 04:02] cclauss commented on #630
Is this largely duplication of https://github.com/TheAlgorithms/Algorithms-Explanation ?

[2021-07-05 04:06] raklaptudirm commented on #630
@cclauss That is still not an excuse to have uncommented code in my opinion. But I am open to suggestions.

[2021-07-12 10:15] Ameya101 commented on #142
Add it in Contributing.md dont create a new file

[2021-07-19 06:07] martisss opened #637 "A modification to the BinarySearchTree.js"
Path：[Data-Structures/Tree/BinarySearchTree.js](https://github.com/TheAlgorithms/Javascript/blob/2d0da4d17dbd08a7cba3b70897417c252c0c7e12/Data-Structures/Tree/BinarySearchTree.js)

line 50 should be : `if (n.value <= this.value) {`,  otherwise you can't store duplicate numbers

[2021-07-19 07:16] raklaptudirm commented on #637
If you want the change please open a pull request. We will review it.

[2021-07-19 07:16] #637 closed

[2021-08-18 07:38] ritwikchakraborty123 opened #656 "Binary Search algo is missing"

[2021-08-18 07:38] ritwikchakraborty123 commented on #656
can i plz work on it

[2021-08-18 09:15] raklaptudirm commented on #656
@ritwikchakraborty123 see https://github.com/TheAlgorithms/Javascript/blob/master/Search/BinarySearch.js
We already have binary search algorithm in our repository. If you want, you could contribute something which we still do not have. Also, there is no need for creating an issue on these matters. If you would like to contribute something, just create a pr, and we will review it.

[2021-08-18 09:15] #656 closed

[2021-08-19 23:56] Aetherplane89 opened #660 "Java"

[2021-08-20 07:14] raklaptudirm commented on #660
Please provide further description of your issue.

[2021-08-20 07:14] #660 closed

[2021-08-26 11:39] Princepr8920 opened #667 "."

[2021-08-26 11:39] #667 closed, assigned to nobody

[2021-09-02 05:35] codefuncode commented on #630
True

[2021-09-02 16:14] nimidsin commented on #630
/*
* Complete explanation of the given steps of the algorithm
* along with manual word wrapping.
*
* Using paragraphs, diagrams, and tables wherever
* required.
*
* ┌──────────┬───────┐
* |   Row 1  | Row 2 |
* ├──────────┼───────┤
* | Column 1 |  1,2  |
* ├──────────┼───────┤
* | Column 2 |  2,2  |
* └──────────┴───────┘
*
* References:
* List of references used in the above-given explanation
* f

[2021-09-02 16:22] cclauss commented on #630
In my opinion we are much better served with self-documenting function and variable names so that the entities and intents of each algorithm are as clear as possible without comments.  This means that comments should be reserved for areas where clear code is impossible.

Vertical lines and manual spacing seems like a waste of valuable developer time and focus.

[2021-09-03 05:00] Luxcompany opened #673 "Issued"
Add, pull , suggest.

[2021-09-03 05:07] raklaptudirm commented on #673
Can you provide more details?

[2021-09-03 18:56] Sadtoy123 opened #674 "Java"

[2021-09-04 04:19] #673 closed

[2021-09-04 04:19] raklaptudirm commented on #674
Please provide more information about the issue.

[2021-09-04 04:19] #674 closed

[2021-09-04 12:41] blackz798 opened #677 "javascript"
Javascript it's perfect!

[2021-09-04 12:51] Stephenofosuasamoah commented on #677
Java 😍

[2021-09-04 22:30] Rik77 opened #681 "Hi am Rik77 , to do is one my key"

[2021-09-05 07:48] raklaptudirm commented on #681
Please provide more information about the issue.

[2021-09-05 07:48] #681 closed

[2021-09-05 07:50] raklaptudirm commented on #677
It is perfect, but that is not an issue.

[2021-09-05 07:50] #677 closed

[2021-09-07 12:01] Sin-Sumit commented on #630
True, add comments where clear code is impossible. And for writing the algorithm use respective variables, array, data structure names, so it will be easy to understand and no need to write comments at every algorithm.

[2021-09-08 03:34] krishdevdb commented on #586
Can someone guide me on creating a pull request?

[2021-09-08 03:35] krishdevdb commented on #586
I have to change this, right?

[code]

[2021-09-08 05:00] cclauss commented on #586
Looks like you at least need another space.

What happens if you leave the command as it is but remove the `|| true?`?

[2021-09-10 19:29] damla opened #687 "There is no remove method found in BST"
## Problem

- Remove method, which is one of the fundamental methods found in Binary Search Tree, is not found in the BST implementation.

## Suggestion

- I may implement BST with ES6 and add remove function.

[2021-09-11 03:54] raklaptudirm commented on #687
Please do the implementation and open a pr, we will review it.

[2021-09-13 16:22] Brittleape07 opened #688 "O"

[2021-09-13 16:34] raklaptudirm commented on #688
Please provide more description.

[2021-09-13 16:34] #688 closed

[2021-09-24 23:21] Rik77 opened #695 "JavaScript"

[2021-09-24 23:42] Rik77 commented on #681
Хочу научиться писать колы и программы

[2021-09-26 05:16] raklaptudirm commented on #681
Если вы хотите изучить Javascript, посмотрите [это](https://developer.mozilla.org/ru/docs/Web/JavaScript/Guide).

[2021-09-26 05:17] #695 closed

[2021-09-26 16:39] juuuuuuun commented on #687
Can I work for it? :)

[2021-09-26 16:57] raklaptudirm commented on #687
They are already working on it. See #696.

[2021-09-26 17:07] juuuuuuun commented on #687
Thank you😉

[2021-09-27 05:32] #687 closed

[2021-10-01 11:32] Andytupek opened #704 "Question"
give me the solution for the tool used to crack the online higgs domino island game on the play store

[2021-10-02 08:03] #704 closed

[2021-10-03 15:02] defaude opened #720 "Consolidating some things"
Hey everyone! I just arrived here at this repo and would love to contribute a bit :)

Looking at the code organisation and the test setup, it's rather confusing for newcomers right now. Should we discuss those cross-cutting things a bit and then decide the direction going forward? Here's a few ideas - feedback very much welcome:

**Code structure**: Maybe we could define a "template" for code/algo

[2021-10-04 09:51] trasherdk commented on #720
Maybe cleaning out unused dependencies from `package.json` ?
As this thing does not have or need a runtime environment, all used dependencies should be in `devDependencies` ?
Maybe adding `husky` and a pre-commit hook, running `standard --fix .` could lower the noise ?

[2021-10-04 16:47] defaude commented on #720
That sounds like a nice idea! 👍  Maybe we could even get rid of the job that auto-updates the directory markdown file on a pre-commit basis? (hint, hint: I just improved that one with 2dc8ead...5283a41 but maybe it's even nicer to have it run as a pre-commit hook)

[2021-10-05 07:03] raklaptudirm commented on #720
@cclauss

[2021-10-05 07:07] cclauss commented on #720
An example of this _template_ would be good to see and would spark deeper conversation.  Some of these ideas could enhance the notions expressed in...
https://github.com/TheAlgorithms/Javascript/blob/master/CONTRIBUTING.md#what-is-an-algorithm

[2021-10-05 07:17] raklaptudirm commented on #720
Currently, this repository encourages ESM. If you find files which obey other module systems, please create a list of them to be fixed.

Again, if you find algorithms with state, create a list in this issue.

Same as above.

[2021-10-05 07:20] raklaptudirm commented on #720
We do have testing problems because `doctest` does not provide a mechanism to ignore files. Removing them may be a good idea.

[2021-10-05 07:24] raklaptudirm commented on #720
We can also add [codespell](https://github.com/codespell-project/actions-codespell) as a github action for checking spellings.

[2021-10-05 08:36] defaude commented on #720
So you're saying all tests should be written in Jest? (Which I'd totally vote for)

[2021-10-05 08:48] cclauss commented on #720
I am not a fan of removing tests unless we are replacing them with something equivalent if not better.  Let's make sure that we have more tests, not fewer tests.

[2021-10-05 08:50] raklaptudirm commented on #720
@cclauss We are removing only the `doctest`s, and keeping all the `jest` ones. How does that sound?

[2021-10-05 08:51] defaude commented on #720
Agreed. **Removing** tests is the wrong thing to do. We should migrate doctests to Jest instead!

[2021-10-05 08:52] raklaptudirm commented on #720
So, we should migrate everything to `jest`? Any issues with that?

[2021-10-05 09:31] defaude opened #742 "Migrate doctests to Jest"
- [ ] List all doctests below
- [ ] Rewrite doctests in Jest
- [ ] Remove doctest setup

[2021-10-05 09:31] defaude commented on #142
@raklaptudirm I recommend we close this issue in favour of #742

[2021-10-05 09:40] #142 closed

[2021-10-05 09:43] defaude commented on #720
Regarding the test setup: See #742 - we'll make a list of all doctests, migrate them to Jest and then remove doctest altogether.

[2021-10-05 09:50] defaude commented on #742
# (potentially incomplete) list of doctests

## Data-Structures/Array
* QuickSelect

## Maths
* AverageMedian
* BinaryExponentiationRecursive
* EulersToient
* PrimeFactors

## Sorts
* BogoSort
* BreadSort
* BucketSort
* CocktailShakerSort
* MergeSort
* QuickSort

## String
* ReverseString
* ReverseWord
* ValidateEmail

[2021-10-05 11:38] iamfazal opened #743 "Star Patterns"
One of the main purposes of this repository is to learn how to solve real-time problems using different programming languages, for writing a good algorithm you must have a good grip on loops and control statements.

creating different star patterns like triangles, diamonds, Pyramid can help you to enhances the coding skill, logic, and looping concepts

[2021-10-05 11:40] iamfazal commented on #743
I want to contribute to this issue
Can you assign this (under 'hacktoberfest-2021' label) to me?

[2021-10-05 14:38] MohammedAdain opened #744 "Adding games folder"
Hi maintainers, is it fine I add a games folder in this repo similar to [https://github.com/TheAlgorithms/C/tree/master/games](url)?

[2021-10-05 21:07] defaude commented on #586
This will get resolved once we got rid of doctest altogether. See #742

[2021-10-05 22:54] defaude commented on #742
I've migrated batch 1 & 2, but now it's already 1am and I need to go to bed ;)

[2021-10-06 07:17] raklaptudirm commented on #743
Please create a Pull request with your contribution. There is no need to create an issue.

[2021-10-06 18:27] FabianKielmann commented on #742
Since this issue was tagged with "help wanted", I made a pull request for the Vector2.js. But now I'm uncertain if I threw a spanner in the works of @defaude. If so, please let me know. And sorry.

[2021-10-06 19:45] defaude commented on #742
Don't panic :) I took a look at your PR and left a few suggestions. You were first, so you should get credits for the Vector2 thingy :)

[2021-10-08 07:56] raklaptudirm commented on #720
`require` and `module.exports` found in:
[code]

[2021-10-08 08:21] raklaptudirm opened #758 "Reduce code repetition"
We have now successfully added guidelines for importing and using algorithms in this repository, inside other algorithms. This has been done to reduce code repetition and uphold code quality. Some functions do implement their own versions of data structures and helper functions, as previously, algorithms were supposed to be completely self contained. This issue initiates a search and fix so that a

[2021-10-08 11:31] raklaptudirm commented on #720
A List of algorithms that output to the console (the list is too long for me to format sadly):
[code]

[2021-10-09 08:28] KrishAgarwal2811 opened #762 "Question: acceptance custom challenges"
Hello 👋👋!

I wanted to ask that do you all accept codes for custom challenge programmes with probably no online source?

[2021-10-09 08:42] raklaptudirm commented on #762
Please read our contribution guidelines for what is considered to be an algorithm

[2021-10-09 13:14] KrishAgarwal2811 commented on #762
thanks

[2021-10-09 13:14] #762 closed

[2021-10-09 13:21] KrishAgarwal2811 opened #765 "a new challenge alogorithm"
Exceeding words are words where the gap between two adjacent characters is increasing.
The gap is the distance in ascii

Example:

input =  update
output = False

Explanation :
from u to p: 5
from p to d: 12
from d to a: 3
from a to t: 19
from t to e: 15

5,12,3,19,15 is not increasing.
The word "update" is not an Exceeding Word

[2021-10-09 16:25] raklaptudirm commented on #765
@cclauss ?

[2021-10-11 12:46] lvlte opened #774 "Fix MinPriorityQueue implementation"
[This implementation](https://github.com/TheAlgorithms/Javascript/blob/5f601fac8df00a1c0b9545436da2518a901ee859/Data-Structures/Heap/MinPriorityQueue.js) of the min-priority queue contains some inconsistencies that need to be fixed :

(I stumbled upon this while working on #720 which involves dozens of unrelated algorithms so I may have missed some things)

- `heapSort()` should be call `reverse()

[2021-10-12 08:25] vels10 opened #779 "Recursive program"
Can I add a recursive problems in this repo?

[2021-10-12 09:55] #779 closed, assigned to nobody

[2021-10-13 10:05] lvlte commented on #720
Hi there,

This issue should be fixed by PR #768 which is ready to merge since 2 days (I can't remove the `in progress` label).
@raklaptudirm is asked for review but there are a lot of (small) changes so do not hesitate to throw an eye @cclauss @defaude.

Thank you by the way @defaude for the recommandations you made on this, it definitely helped.

[2021-10-15 13:44] Badhusha-Akhthaar opened #791 "Check given number is Triangular , Tetrahedral or Pentatope"
The purpose of this repository is, to check whether the given number is a triangular, tetrahedral or pentatope number or not. An additional feature will be like, if a number doesn't belong to one type, we can check what type does it fit

####  Example :  The numbers 1,3,6 belongs to Triangular.  Numbers 1,4,10 belong to tetrahedral.

[Triangular](https://upload.wikimedia.org/wikipedia/commons/thum

[2021-10-15 14:46] josecarlosweb opened #792 "Algorithms of design patterns"
What about create a design pattern directory with the most popular design patterns examples?
We can create some rules like: have to be an explanation about the design pattern, the structure and one real world example.
The directory can be:
[code]

I can send some :)

[2021-10-16 09:25] raklaptudirm commented on #792
@cclauss

[2021-10-16 09:26] raklaptudirm commented on #791
If you want to add the algorithm, please create a new pr.

[2021-10-16 09:26] #791 closed

[2021-10-16 09:37] cclauss commented on #792
Spaces in directory names is a bad idea but other than that, I have no comment.

[2021-10-16 09:38] cclauss commented on #792
Actually.  Design Patterns are not algorithms so I would find a different repo to land these contributions.

[2021-10-16 09:39] raklaptudirm commented on #792
I do think we have had a conversation regarding these, and it ended something like "Design patterns are not algorithms".

[2021-10-16 17:02] pasagedev commented on #774
I could like work on this can assign me @raklaptudirm ?

[2021-10-18 14:28] anirudhb11 opened #795 "Fenwick Tree Implementation"
**Is your feature request related to a problem? Please describe.**
I would like to add an implementation of Fenwick Tree to the Data Structures collection

**Describe the solution you'd like**
The data structure would be implemented using an array and would support range sum and point update queries in O(logN) time. The space complexity would be O(N) where N is the number of element of the array f

[2021-10-26 03:41] #774 closed, assigned to pasagedev

[2021-11-19 16:57] Yatin-kathuria opened #838 "Create A utils folder for utility functions"
## Hi,
I figure out that their are some algorithms which are using the same function but by creating a copy in their file.
I find out isNumber function is used in Volume.js and In Area.js same function is created with different name validateNumericParam.
It will be good if we moved out this type of function in separate folder which contains similar kind of function.some other example are isEven ,

[2021-11-19 17:03] raklaptudirm commented on #838
Any other algorithms from the repository is allowed to be imported and used.

[2021-11-19 17:23] Yatin-kathuria commented on #838
right

[2021-11-19 17:24] #838 closed

[2021-11-24 08:04] aditya1944 opened #844 "LRU Cache js code can be more simple and optimized using builtin Map data structure"
Map stores order of insertion and internally use a doubly-linked list to achieve this.

sample code to demonstrate: get and put time complexity: O(1)

[code]

[2021-11-24 16:16] raklaptudirm commented on #844
Please open a pull request if you want to improve the cache algorithm.

[2021-11-25 07:03] #844 closed

[2021-11-30 12:40] #795 closed

[2021-12-02 01:33] leotoff opened #860 "Permutation String algorithm contains console.log"
While running `npm test` the output contains `console.log` which obstructs test results (see below). Please remove `console.log` from `Dynamic-Programming/Sliding-Window/PermutationinString.js`.

[code]

[2021-12-02 10:54] #860 closed

[2021-12-09 15:21] RuSaG0 opened #871 "duplicate logic fns"
**maths/tests**

different impls of the same function - ok?

![image](https://user-images.githubusercontent.com/48970799/145423556-42ef1918-e462-4965-9324-3e4e3b44dd54.png)

[2021-12-11 08:10] #871 closed

[2022-02-13 02:53] ScyfeYT opened #880 "Test"

[2022-02-16 08:00] AbmSourav opened #883 "Required parameter best practice, avoid nested if block for better performance and readability"
**binarySearch**
* required parameters and optional parameters are ordered in a mixed manner. A common programming convention is adding required parameters at the left and optional parameters at the right.
* In recursive function, early return base case is better for performance and readability.

[2022-02-16 08:54] #883 closed

[2022-02-17 17:27] AbmSourav opened #890 "Iterator and log methods need to be added for SinglyLinkedList and DublyLinkedList"
For looping through the link list, a generator function can be provided for iterations.
For debugging data, a log method can be helpful.

[2022-02-17 21:02] Rudxain opened #893 "IsPowerOfTwo has bugs"
JS doesn't use fixed-point int arithmetic, it uses floating-point "rationals". JS bitwise ops use "modulo" internally (specifically `mod 2 ** 32`), which removes all bits with an index greater than 31. So the bitwise int implementation doesn't work because `IsPowerOfTwo((2 ** 53 - 1) * 2 ** 32)` and `IsPowerOfTwo(Infinity)` return `true`.

I propose using trial divison by 2, since it's simple and

[2022-02-18 14:43] #890 closed

[2022-02-18 20:42] Rudxain commented on #893
Ok, thank you for the info. I'll change the code writing style to match the standard

[2022-02-19 10:45] raklaptudirm commented on #893
If the current implementation is working, it should be left alone. You can add your implementation as a separate function with a different name, like `isPowerOf2Iterative`. You can use the same test cases as the other algorithm to test yours.

[2022-02-20 19:22] Rudxain commented on #893
I think it's better to leave it as it is. Since it is in the "bit manipulation" it implicitly states that all inputs must be valid 32bit ints, so `Infinity` is not a valid input, which means it's okay for the return value to be wrong.
I'll close the issue, thank you for your time and help

[2022-02-20 19:22] #893 closed

[2022-02-23 09:52] fahimfaisaal opened #901 "Anagram is or not case sensitive!"
From my research, I've come to know anagram is not case sensitive, but this [checkAnagram](https://github.com/TheAlgorithms/Javascript/blob/master/String/CheckAnagram.js) function is case-sensitive. it's can't pass this test case **“Eleven plus two” is an anagram of “Twelve plus one”**

[2022-02-23 10:45] raklaptudirm commented on #901
Please open a pull request to fix this issue.

[2022-02-23 11:06] fahimfaisaal commented on #901
Ok

[2022-02-25 16:26] #901 closed

[2022-02-27 11:20] fahimfaisaal commented on #765
@raklaptudirm could I handle this solution.

[2022-02-28 17:43] fahimfaisaal opened #908 "WordOccurrence should be named LetterOccurrence"
From by output of [checkWordOccurrence](https://github.com/TheAlgorithms/Javascript/blob/master/String/CheckWordOccurrence.js), we could see it's should be "**Letter**" occurrence instead of "**Word**".

[Test Case](https://github.com/TheAlgorithms/Javascript/blob/master/String/test/CheckWordOcurrence.test.js)

[2022-03-01 09:43] benronkth commented on #758
Hello,
We are working on some improvements to this issue.

/Students from Royal Institute of Technology

[2022-03-01 14:26] fahimfaisaal commented on #908
Yep, me too. Please let me handle this. 🙂

[2022-03-03 14:49] benronkth commented on #758
There is a function called   rotate (angleInRadians) in two files, namely:
1) Data-Structures\Vectors\Vector2.js
` /**
   * Vector rotation (see https://en.wikipedia.org/wiki/Rotation_matrix)
   *
   * @param angleInRadians The angle in radians by which to rotate the vector.
   * @returns The rotated vector.
   */
  rotate (angleInRadians) {
    const ca = Math.cos(angleInRadians)
    const sa = M

[2022-03-03 14:55] raklaptudirm commented on #758
Since the second one is first converting to radians and then essentially running the first function, we can rewrite the second one in terms of the first.

[2022-03-04 17:06] fawzibazari opened #917 "really good repo"

[2022-03-04 17:07] #917 closed

[2022-03-15 08:10] Ankush263 opened #924 "Fix the SquareRoot.js function inside Math folder"
I am going to write a Test case of SquareRoot function, but it appears it gives the sqrt(144) = 13.7802299905638
It's not closed to 12.

[2022-03-15 09:07] raklaptudirm commented on #924
Try increasing the precision, that should work:
[code]

[2022-03-15 09:28] Ankush263 commented on #924
Yes, it works perfectly.....Now I can add some test cases to it. Thank You

[2022-03-15 09:34] #924 closed

[2022-03-17 06:38] fahimfaisaal opened #930 "Got issue on standard config. Should add `@babel/eslint-parser`"
There an issue on using [PrivateClassFeatures](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Private_class_fields) in standard js, cause it's can't recognize the `#` private symbol and throw to me this error:
[code]

From standard [doc](https://standardjs.com/#how-do-i-use-experimental-javascript-es-next-features) we should use the `@babel/eslint-parser` plugin to fix i

[2022-03-17 06:43] raklaptudirm commented on #930
Open a pull request to fix the issue.

[2022-03-17 06:58] #930 closed

[2022-03-22 08:34] fahimfaisaal opened #942 "In Queue the `dequeue` should be O(1) complexity"
From this [Queue](https://github.com/TheAlgorithms/Javascript/blob/ad68c639476804a27342e3416d060cec1f5037ba/Data-Structures/Queue/Queue.js#L28) implementation I believe the Operation is **O(n)** cause the  complexity of  `Array.prototype.shift` methods is **O(n)**, [see](https://stackoverflow.com/questions/22614237/javascript-runtime-complexity-of-array-functions)

[2022-03-22 09:07] #765 closed

[2022-03-23 20:18] utsav0 commented on #743
I wanna contribute to this project and I'm really interested in it But I'm new here . so, how can I contribute to this project?

[2022-03-23 21:50] trasherdk commented on #743
@utsav0 start by reading [CONTRIBUTING](https://github.com/TheAlgorithms/Javascript/blob/master/CONTRIBUTING.md) :smiley:

[2022-03-24 13:10] ayDavidGitHere commented on #942
Dequeue on queue works on a O(n) complexity.
To achieve dequeue on O(n) use linked-lists.

https://github.com/ayDavidGitHere/Javascript/tree/master/Data-Structures/Linked-List

[2022-03-24 13:19] fahimfaisaal commented on #942
Yeah, I see.

[2022-03-25 15:10] utsav0 opened #949 "As a beginner, what can I contribute?"
I'm a beginner in open source but I really love to use algorithms. So, how I can contribute here? Like, can I improve any random thing and then raise a pull request or there is a specific processor for it?

[2022-03-25 15:20] raklaptudirm commented on #949
Yes, you can improve any of the existing algorithms and/or add your own. To do this, just open a new pull request and we will review it. Before contributing, read the [`CONTRIBUTING.md`](https://github.com/TheAlgorithms/Javascript/blob/master/CONTRIBUTING.md) file, as it guides how to contribute to this repository

[2022-03-25 15:27] #949 closed

[2022-03-29 13:30] gpresland opened #966 "Typo: Javascript > JavaScript"
The repository name and _about_ are missing capitalization of the _S_ in JavaScript.

The _about_ reads:

[code]

[2022-03-29 16:42] appgurueu commented on #966
Agreed, but renaming the repo might be somewhat problematic. A pretty minor issue.

[2022-03-29 16:59] raklaptudirm commented on #966
@appgurueu From the GitHub docs:

[2022-03-29 17:47] Panquesito7 commented on #966
Renamed the description for now. 🙂

[2022-03-29 18:02] appgurueu commented on #966
I'm aware. This will print a nasty warning though.

[2022-03-30 06:07] raklaptudirm commented on #966
@appgurueu, that can act as a notification to change whatever link they are using.

[2022-03-31 14:13] deyvetWalef opened #970 "Teste"

[2022-04-01 06:57] #970 closed

[2022-04-01 18:01] appgurueu commented on #942
The queue should be implemented using linked lists. The current implementation is clearly suboptimal for no good reason.

[2022-04-02 06:49] raklaptudirm commented on #942
@fahimfaisaal Are you working on this issue?

[2022-04-02 12:26] fahimfaisaal commented on #942
Yep.. I'll send pr soon.

[2022-04-02 15:49] raklaptudirm commented on #743
See comment in #761

[2022-04-02 15:49] #743 closed

[2022-04-02 16:01] KishanBin opened #972 "Javascript"
I need code of loop to make combination of numbers

[2022-04-02 16:16] raklaptudirm commented on #972
This issue section is not for programming questions. Try a programming forum like stack overflow.

[2022-04-02 16:16] #972 closed

[2022-04-03 07:32] raklaptudirm opened #973 "Remove redundant `Find-broken-doctest` branch"
@cclauss There was an issue with doctests failing some time ago when you created the `Find-broken-doctest`(#543) branch to fix it. Since then, we have completely switched over to `jest`(#742) for testing and this is no longer an issue. However, the branch is still present in this repository and I do not have the perms to remove it.

[2022-04-03 15:24] #973 closed

[2022-04-04 07:09] UglyReggie opened #978 "Learn this material"

[2022-04-04 08:22] #978 closed

[2022-04-05 01:03] 777777dl opened #979 "https://github.com/TheAlgorithms/Javascript/pull/951#issuecomment-1081464679Are you doing it in the code directory?"
Are you doing it in the code directory?

_Originally posted by @raklaptudirm in https://github.com/TheAlgorithms/Javascript/issues/951#issuecomment-1081464679_

[2022-04-05 01:04] 777777dl commented on #979
https://github.com/TheAlgorithms/Javascript/issues/979#issue-1192481560

[2022-04-05 08:06] #979 closed

[2022-04-06 20:24] hamidreza-hz98 commented on #973
please unsubscribe me from everything -------- Original message --------From: Rak Laptudirm ***@***.***>Date: Sun, Apr 3, 2022, 12:03 PMTo: TheAlgorithms/Javascript ***@***.***>Cc: Subscribed ***@***.***>Subject: [TheAlgorithms/Javascript] Remove redundant `Find-broken-doctest` branch (Issue #973)
@cclauss There was an issue with doctests failing some time ago when you created the Find-broken-doct

[2022-04-16 16:48] #792 closed

[2022-04-20 13:21] BranAndSceolan opened #988 "wiggle sort seems incorrect"
Hello!
From the comments on the wiggle sort code I got that it is intended to sort an array arr like this:
a[0] <= a[1] >= a[2] <= a[3] >= a[4] <=...

I tested the code using an array [3, 5, 6, 1].
I got [3, 6, 5, 1], which is not fulfilling the condition stated above.

There are possible solutions for this case, for example [3, 5, 1, 6].

If this is an error I would like to try and fix it. If it

[2022-04-20 13:39] appgurueu commented on #988
You're right, this is a bug. Feel free to fix it.

[2022-04-20 16:01] raklaptudirm commented on #988
@BranAndSceolan Inform here if you want to work on it and we will assign you.

[2022-04-20 16:58] BranAndSceolan commented on #988
I am already planing to write a wriggle sort in java, therefore I would be happy to be assigned to this issue.

[2022-04-25 08:56] Madiena opened #995 "Add Stooge sort algorithm"

[2022-04-25 09:07] raklaptudirm commented on #995
No need to open issues for adding new algorithms. Create a pull request and it will be reviewed.

[2022-04-25 09:07] #995 closed

[2022-04-26 05:53] xiaoxiangmoe opened #997 "Feature Request: Add TypeScript language support"

[2022-04-26 08:33] appgurueu commented on #997
The repo is called "Javascript" for a reason though. TypeScript is based on and compiles to JS but still, it's pretty much a different language. I'd say you'd have to request another "TheAlgorithms/TypeScript" repo.

[2022-04-26 08:37] #997 closed

[2022-04-26 08:42] appgurueu commented on #966
After more thought, the redirect is most likely fine (especially as this repo doesn't use GH pages).

[2022-04-26 08:43] raklaptudirm commented on #966
@AnupKumarPanwar up

[2022-04-28 10:16] #988 closed

[2022-04-28 17:03] poyea commented on #966
I agree with this, and redirect should work fine for GitHub links, as long as there's no `Javascript` repo is created in the future. cc. @AnupKumarPanwar, @dynamitechetan, @jainkuniya, @nikhilkala, @r0hit-gupta

[2022-05-04 16:29] appgurueu commented on #630
Well put. A full plain-english explanation is better left to the algorithms-explanation repo.

[2022-05-06 04:06] raklaptudirm commented on #942
@fahimfaisaal Are you working on this, or should I put this issue up for grabs?

[2022-05-06 04:49] raklaptudirm commented on #966
This issue has been resolved.

[2022-05-06 04:49] #966 closed

[2022-05-06 16:12] fahimfaisaal commented on #942
@raklaptudirm I apologize for my latency.

[2022-05-06 16:21] raklaptudirm commented on #942
#1005 fixes this.

[2022-05-06 16:21] #942 closed

[2022-05-17 19:39] susejR10 opened #1019 "Peralta Stones"
2=3-[]()-18=7

[2022-05-18 03:52] #1019 closed

[2022-05-19 06:22] susejR10 commented on #1019
i have deciphered the Peralta Stones and Beales Papers and Ted Binions Gold. there all linked to Crypto currencies due to the Cryptography that was utilized from 1800

[2022-05-27 18:00] Exortions opened #1025 "Feature Request: Yarn/NPM Package for The Algorithms"
This would be a node module that contains all of the algorithms in the repository. Things like this could also be implemented in Python, etc.

There could be a script running in the cloud that checks for new commits, and then updates the package with the new algorithms/changes.

[2022-05-28 07:22] raklaptudirm commented on #1025
The algorithms implemented in this repository are not supposed to be used in production environments. As highlighted in the readme, they are only supposed to be used for educational purposes. There are many packages in npm that are more suited for specific applications, provide API stability guarantees, and have better code focused on performance and stability than readability. So in my opinion, p

[2022-05-28 07:22] #1025 closed

[2022-06-03 10:36] Ankush263 opened #1035 "SecondLargestElement Algorithm returns wrong value"
for the array [-1, -2, -3, -4] it returns 0

[2022-06-03 10:44] appgurueu commented on #1035
I assume the algorithm just wasn't intended to support negative values as it uses `0` as a default min value.

[2022-06-03 10:46] Ankush263 commented on #1035
Should I make a PR

[2022-06-03 11:02] appgurueu commented on #1035
I've already fixed it, see the linked PR.

[2022-06-03 17:07] #1035 closed

[2022-06-20 15:58] Rudxain opened #1047 "Fibonacci Matrix doesn't use `BigInt`s"
[This file](https://github.com/TheAlgorithms/JavaScript/blob/master/Maths/Fibonacci.js) uses `Number`s at the matrix algorithm to compute the nth number in the Fibonacci sequence. My reasons to recommend `BigInt` are these:
* `BigInt`s can't use *Binet's Formula*, nor the [rounded and simpler variant](https://en.wikipedia.org/wiki/Fibonacci_number#Computation_by_rounding) because that requires arb

[2022-06-21 11:30] appgurueu commented on #1047
I approve this. Go ahead and open your PR.

[2022-06-27 04:39] #1047 closed

[2022-06-28 16:17] paulkarayan opened #1050 "typescript examples?"
love it so far. this would be great for beginners as well.

[2022-06-28 17:17] raklaptudirm commented on #1050
Since this is strictly a JavaScript repository, I don't think we should add typescript stuff. @appgurueu ?

[2022-06-28 18:44] appgurueu commented on #1050
Agreed.

[2022-06-29 03:57] #1050 closed

[2022-07-13 15:42] FriendlyMan45 opened #1056 "Javascript"

[2022-07-24 04:31] AmitKushwah916 opened #1059 "Hi"

[2022-07-24 08:03] #1059 closed

[2022-07-24 11:04] raklaptudirm commented on #1059
@appgurueu Could you delete this issue. I am not at my pc rn.

[2022-07-24 12:30] appgurueu commented on #1059
I see no option to delete the issue under "notifications". Perhaps only the repo owner can the delete the issue?

[2022-07-25 03:18] raklaptudirm commented on #1059
It should show in the issue page on the right hand column.

[2022-07-25 11:25] appgurueu commented on #1059
![Bildschirmfoto von 2022-07-25 13-25-13](https://user-images.githubusercontent.com/34514239/180767044-9aed65ee-4070-4cf4-8f5b-fab57b1c5e1b.png)

[2022-08-02 17:16] Vasu-Me opened #1076 "Missing Number Theory"
Is their anything related to Number theory??

[2022-08-02 17:17] #1076 closed

[2022-09-01 07:21] itsAkshayDubey opened #1086 "Möbius function implementation"
Hi,

I have not seen any implementation of [Möbius function](https://en.wikipedia.org/wiki/M%C3%B6bius_function) in this repo.
Could you please assign this issue to me?

Regards,
Akshay

[2022-09-01 08:29] appgurueu commented on #1086
You don't need to ask for permission to work on an implementation.

[2022-09-06 12:21] ajinkyac03 opened #1090 "Count occurrences of substring in a string function implementation not there"

[2022-09-06 12:52] itsAkshayDubey opened #1092 "calcFactorial(n) in Factorial.js must return integer value instead of a string value"
Hi,

As I can see, the [current implementation](https://github.com/TheAlgorithms/JavaScript/blob/master/Maths/Factorial.js) of calculating the factorial of a number returns a string like "The factorial of 5 is 120" instead this function must return an integer value of 120, so that we can use this function in other algorithms to calculate factorial without having to write logic to calculate factori

[2022-09-06 15:25] appgurueu commented on #1092
Agreed. Feel free to fix it.

[2022-09-07 09:33] #1090 closed

[2022-09-07 09:33] #1092 closed

[2022-09-08 15:05] 10kartik opened #1095 "Find Middle Node of linked list functoin implementation not there"
Given reference to `head` of singly linked list, find the middle node of linked list.

[2022-09-08 16:34] raklaptudirm commented on #1095
Dont open issues for missing implementations.

[2022-09-08 17:13] #1095 closed

[2022-09-13 03:30] 10kartik opened #1097 "Improper and incomplete implementation of CycleDetection.js"
Implementation of [CycleDetection.js](https://github.com/TheAlgorithms/JavaScript/blob/master/Data-Structures/Linked-List/CycleDetection.js) seems inappropriate.

- Weird function name `main()` and its invocation can cause the program to crash.
- Tests are missing.
- Not exported, Hence not resuable.
- Can be optimized further (Optional)

[2022-09-13 05:06] appgurueu commented on #1097
The algorithm is complete. It has poor code quality though, as you have pointed out. Feel free to fix it.

[2022-09-13 18:55] #1086 closed

[2022-09-15 06:52] #1097 closed

[2022-09-23 07:26] smitgabani opened #1106 "Missing Brian Kernighan's counting set bits algorithm."
Missing **Brian Kernighan's algorithm** for **counting set bits in the binary equivalent** of a number, i.e. the number of 1 in the binary form of a number.

[2022-09-23 07:53] appgurueu commented on #1106
Don't open issues for missing algorithms; just open PRs.

[2022-09-23 07:53] #1106 closed

[2022-09-29 17:29] 201B153 commented on #758
Is this issue open yet?

[2022-09-29 18:43] appgurueu commented on #758
This issue is obviously still open?

[2022-09-30 13:35] 201B153 commented on #758
Then can u assign it to me?

[2022-09-30 13:45] 201B153 commented on #758
thanks!

[2022-10-01 13:06] ayeola05 opened #1111 "Add an alternative for selection sort"
Adding an alternative to selection sort using another method for swapping elements in an array

[2022-10-01 13:07] ayeola05 commented on #1111
Assign issue to me

[2022-10-01 14:39] abdulfrfr commented on #758
Can I be assigned this issue please?

[2022-10-01 14:39] rohitkumar1706259 opened #1113 "update readme"

[2022-10-01 14:50] appgurueu commented on #1113
why - what's wrong with it?

[2022-10-01 14:50] #1113 closed

[2022-10-01 14:50] appgurueu commented on #758
Sure, but you have to agree with @201B153 what each of you wants to work on so that you don't end up doing the same work twice.

[2022-10-01 14:52] appgurueu commented on #1111
You don't need to ask for permission to work on PRs.

[2022-10-01 14:52] #1111 closed

[2022-10-01 14:53] 201B153 commented on #758
it's a huge thing so i don't think there is any issue in working together

[2022-10-01 15:08] abdulfrfr commented on #758
Alright, that’ll be nice, @201B153 working together would be a great pleasure

[2022-10-01 15:20] abdulfrfr commented on #758
@201B153 you can dm me on twitter, @abdulfrfr is my handle

[2022-10-05 04:36] chrisjwaddell opened #1121 "DateToDay.js giving wrong day"
DateToDay("1/1/2020") returns "Friday" but its "Wednesday". Other basic tests show the wrong day as well.

[2022-10-05 05:34] alpesh-rama commented on #1121
Please assign me to this issue. Thank you

[2022-10-05 05:37] rajprogrammerbd commented on #1121
I want to work on please, Thank you.

[2022-10-05 09:44] anshul137 commented on #1121
I would like to solve this problem.
thanks

[2022-10-05 13:18] raji2004 commented on #1121
please assign it to me

[2022-10-05 21:37] mstomar698 opened #1128 "Adding Missing questions to Project-Euler Folder"
### The Project-Euler doesn't have the following questions:
-  Q7, Q11, Q13, Q17, Q19, Q21, Q22, Q24.

- Add them to complete the order till Q25.

[2022-10-05 21:37] mstomar698 commented on #1128
I can work on it.

[2022-10-06 10:15] appgurueu commented on #1128
Just work on it. Don't open issues for missing algorithms.

[2022-10-06 11:10] thevinitgupta opened #1133 "Suggestion : Count Bits to Convert A to B"
This is a famous Interview question and I would like to contribute the algorithm for this.

[2022-10-06 14:23] chrisgalvan commented on #1121
I have also submitted a solution to current bug

[2022-10-06 15:06] appgurueu commented on #1133
Don't open issues for missing algorithms

[2022-10-06 15:06] #1133 closed

[2022-10-07 00:55] Hanee-Solanki commented on #1121
Hi, this is my first time contributing to an open-source project. I wanted to know if we have to use the same algorithm to calculate the day or if we could use a different one. Please advise.

[2022-10-07 05:30] raklaptudirm commented on #1121
There are already several pull requests fixing this issue. I will advise people to not take this issue up any more.

[2022-10-07 11:46] Giftedtech1 opened #1139 "."
N

[2022-10-07 19:20] AbdulAhadKhan0308 opened #1143 "file name palindrome.test.js should be Palindrome.test.js to follow UpperCamelCase"
file is at Recursive/test/palindrome.test.js

[2022-10-07 19:25] appgurueu commented on #1143
Makes me question or contribution guideline. Usually file name conventions dictate lower snake case; `UpperCamelCase` is reserved for classes. Files exporting single functions should probably not be using `UpperCamelCase` but rather `lowerCamelCase` (like the funcs) or `lower_snake_case`.

[2022-10-08 06:58] raklaptudirm commented on #1143
This repository uses UpperCamelCase for all JavaScript files.

[2022-10-09 13:37] Gauri-AB commented on #1121
Hii Sir, pls assign this issue to me.

[2022-10-09 13:46] appgurueu commented on #1121
We already have two working fixes for this issue.

[2022-10-10 05:59] #1143 closed

[2022-10-10 06:01] #1121 closed

[2022-10-10 13:30] Akash7649 commented on #758
I will do it please assign it to me

[2022-10-13 10:12] defaude opened #1175 "Unable to install npm dependencies on M1 Mac with Node 16"
The dependencies are somewhat outdated and have seen quite a bit of wild growth :)

This causes `npm install` to fail on M1 Macs running Node 16 (at the moment)

[2022-10-13 11:57] raklaptudirm commented on #758
Just open a pr not need for assignment. This is a broad issue and will benefit from multiple contributors.

[2022-10-13 15:27] #1175 closed

[2022-10-13 16:07] syedjafer opened #1181 "Binary Insertion Sort"
Implementation of Binary Insertion Sort

[2022-10-13 16:11] meirroth opened #1183 "Validate Url Issues"
Two issues found with the Validate Url algorithm:

1. A string is considered to be valid URL if it starts with www. even though it does not have https

- `validateUrl('www.google.com')` // returns true
- `validateUrl('google.com')` // returns false

2. A valid URL returns false if starts with www like:
- `validateUrl('https://wwwdomain.com')` // returns false

[2022-10-13 16:15] syedjafer commented on #1181
Can the admin/moderator pls add 'hacktoberfest' label to this issue.

[2022-10-13 16:21] appgurueu commented on #1181
Don't open issues for algorithms.

[2022-10-13 16:21] #1181 closed

[2022-10-15 17:54] Amit-Sagar commented on #758
Hi! please assign me this issue.

[2022-10-15 18:11] defaude opened #1193 "Project-Euler/test/Problem044.test.js runs for ~ 17 minutes"
I just stumbled upon this gem while executing the tests locally and then wondering what's going on.

See https://github.com/TheAlgorithms/JavaScript/actions/runs/3255189818/jobs/5344248296#step:5:161

@raklaptudirm what do you think? Should we
1. disable the test so it's skipped and doesn't clog up our CI
2. figure out **why** this immense delay happens, fix the test (or the implementation) and re

[2022-10-15 18:18] defaude commented on #1193
It's this one:

[code]

I **guess** it's because this is running into really, really high numbers, maybe? Neither the CPU nor the RAM usage goes up substantially (at least on my machine) but for some reason, this takes **ages** to complete.

[2022-10-15 18:21] defaude commented on #1193
I just realized this is even more severe as assumed initially: Since we're running the test in a pre-commit hook, the simple act of **just committing changes locally** becomes a minute-long ordeal...

[2022-10-15 18:28] appgurueu commented on #758
Please read [the comment right above your comment](https://github.com/TheAlgorithms/JavaScript/issues/758#issuecomment-1277495535).

[2022-10-15 18:40] appgurueu commented on #1193
OOF. Ideally CI & hooks should only run tests on the files that were changed.

[2022-10-16 08:25] raklaptudirm commented on #1193
Jest usually caches tests so the precommit hook should not be an issue.

[2022-10-16 15:13] SubhamB2003 commented on #1183
Can i try this

[2022-10-16 15:52] appgurueu commented on #1183
No (see the current PR).

[2022-10-17 17:09] Panquesito7 opened #1204 "[DOCS] Add issue templates"

[2022-10-18 15:28] zendranm commented on #1204
Solved in #1206. As no requirements for the template were added in this issue description, I've added 2 templates:
1. One for the feature request
2. One for the type bug issue

[2022-10-19 13:34] 609harsh commented on #1183
is it still open?

[2022-10-19 14:44] Adrito-M opened #1214 "Add Kosaraju's Algorithm"
Add: Kosaraju's Algorithm to find strongly connected components in a directed graph.

[2022-10-19 15:40] appgurueu commented on #1183
Yesn't? The solution might be a removal of the "algorithm" though.

[2022-10-19 15:44] appgurueu commented on #1214
Don't open issues for missing algos.

[2022-10-19 15:44] #1214 closed

[2022-10-21 02:02] Panquesito7 opened #1219 "[BUG] `DIRECTORY.md` workflow not running due to protected branch"
**Description**

The [`DIRECTORY.md`](https://github.com/TheAlgorithms/JavaScript/blob/master/.github/workflows/UpdateDirectory.yml) workflow isn't committing/pushing any needed changes due to the `master` branch being protected.
Currently, there's no way to make GitHub Actions have access to a protected branch.

Our current options are:

- Disable branch protection (not recommended).
- Commit as

[2022-10-21 11:22] raklaptudirm commented on #1219
Directory.md is currently changed in the prs themselves which I think is good enough.

[2022-10-21 17:59] Panquesito7 commented on #1219
Yeah. Although, I still think this should be kept open once GitHub actually fixes this.

[2022-10-22 04:15] raklaptudirm commented on #1219
The ideal scenario would be for the workflow to run only in the master.

[2022-10-23 00:40] Panquesito7 commented on #1219
That currently won't work as the `master` branch is protected.

[2022-10-27 11:54] trasherdk commented on #1183
Hmm. None of those test cases are valid email addresses.

`validateEmail('www.google.com')` // returns true :question:

[2022-10-27 17:19] harshsingh-io opened #1233 "Optimised Fibonacci Series in JavaScript using Golden Ratio rule"

[2022-10-27 17:35] appgurueu commented on #1233
Please do not request algorithms.

[2022-10-27 17:35] #1233 closed

[2022-10-27 17:37] harshsingh-io commented on #1233
@appgurueu okay sir

[2022-10-27 20:41] meirroth commented on #1183
@trasherdk Oops... It's a typo. Should say `validateUrl('www.google.com')`.
Fixed now.

[2022-10-29 19:59] Harshal-Jadhav opened #1244 "Want To Add Many Algorithms For Trees in JavaScript"
Following Are the Algorithms for Trees I would like to Add in this Repository.

- Level Order Traversal.
- Zig-Zag Traversal.
- Left or Right View.
- Similar Tree Check.
- Mirror Tree Check.

I would be glad if allowed to Help.

[2022-10-30 08:11] appgurueu commented on #1244
Yes, of course you may add all these algorithms. Try to stick them all in a generic `Tree` class (unless you want to limit them to binary trees).

Please don't open issues to request algorithms / announce that you are working on algorithms though. Just work on it right away and open PRs.

[2022-10-30 08:11] #1244 closed

[2022-10-30 18:38] Harshal-Jadhav commented on #1244
Got it working on them

[2022-10-31 16:00] prayogabrd opened #1260 "Add math comparison ratio!"
Here there is no math comparison ratio :(

[2022-11-01 19:53] isaacudofia commented on #1219
Maintainer / Owner access is never able to force push again for default & protected branch,

[2022-11-06 16:33] #1204 closed